<body><div id="content">div {
    max-width: 1600px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
}

#background {
    height: 725px;
}

#background {
    height: 725px;
}

body {
    background-color: #fcfbfb;
}

header {
    background-color: rgba(20, 30, 13, .7);
}

nav a:hover {
    background-color: black;
}

nav a:hover {
    background-color: black;
    color: #d9c2a3;
}

.icon {
    width: 80px;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

<header></footer></div></body>