@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
body {
    padding: 1em;
    text-align: center;
    color: #8d541b;
    font-family: Courier New, monospace, Arial, sans-serif;
    font: size 12px;
    margin: 0;
    padding: 0;
}

.home-title {
    font-family: 'Rock Salt', 'Roboto', 'Bradley', sans-serif;
    font-size: 2em;
    margin-top: 1px;
}

.logo {
    width: 50%;
    overflow: hidden;
    text-align: center;
}

.content {
    max-width: 1600;
    margin: 0 auto;
}

nav a :hover {
    background-color: #f4f0ed;
}

.msg {
    background-color: #8d541b;
    line-height: 1.5em;
    text-align: center;
    padding: 2px;
}

.msg p {
    padding-bottom: 5px;
}

.card-img {
    text-align: center;
    border: 10px solid #8d541b;
    ;
}

main section img {
    box-sizing: border-box;
}

main {
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.icon {
    width: 60px;
    padding-top: 5px;
    font-size: 12px;
}

header {
    text-align: center;
    padding: 1em;
}

#background {
    height: 200px;
    background-color: #8d541b;
    ;
}

nav a {
    text-align: center;
    color: #8d541b;
    text-decoration: none;
    padding: 5px;
    font-size: 12px;
}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 5px;
    font-size: 12px;
}

.book,
.join {
    background-color: #e09b41;
    color: black;
    text-decoration: none;
    padding: 5px, 10px;
    margin-top: 10px;
    font-size: 14px;
    border-radius: 1px;
}

footer {
    margin-top: 15px;
    background-color: #8d541b;
    padding: 25px 50px;
}

h2 {
    margin: 0;
    color: #8d541b;
}

h3 {
    color: white;
}

.social img {
    height: 35px;
    margin: 10px;
    cursor: pointer;
    padding-top: 15px;
}

@media screen and (max-width: 700px) {}

.social {
    text-align: center;
}