        @import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
        body {
            max-width: 1520px;
            padding: 0;
        }
        
        header {
            max-width: 1520px;
            display: grid;
            height: 80px;
            grid-template-columns: 150px auto;
            background-color: #3d51ff;
        }
        
        .logo {
            width: 150px;
            overflow: hidden;
        }
        
        #logo_link {
            padding-top: 5px;
            align-self: center;
        }
        
        .hero-btn {
            display: inline-block;
            text-decoration: none;
            color: rgba(240, 201, 4, 0.847);
            border: 1px solid rgba(240, 201, 4, 0.847);
            padding: 12px 34px;
            background: transparent;
            position: center;
            cursor: pointer;
        }
        
        .hero-btn:hover {
            border: 1px solid rgba(240, 201, 4, 0.847);
            background: rgba(17, 6, 68, 0.847);
            transition: 1s;
        }
        
        nav a {
            text-align: right;
            color: rgba(240, 201, 4, 0.847);
            text-decoration: none;
            padding-top: 2px;
            font-size: 14px;
        }
        
        main {
            background-size: cover;
            text-align: center;
            height: 80vh;
            background-position: relative;
        }
        
        nav {
            display: flex;
            justify-content: space-around;
        }
        
        footer {
            margin-top: 2px;
            background-color: #ffffff;
            padding: 2px;
            margin-top: 10px;
            display: flex;
            justify-content: space-around;
            color: rgba(240, 201, 4, 0.847);
        }
        
        footer h3 {
            color: rgba(240, 201, 4, 0.847);
        }
        
        footer a {
            color: yellow;
            justify-items: left;
        }
        
        footer a:hover {
            color: rgb(17, 5, 92)
        }
        
        .social img {
            height: 25px;
            margin: 25px;
            cursor: pointer;
            padding-top: 1px;
        }
        
        .social {
            text-align: right;
        }