    @import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
    body {
        max-width: 1600px;
        text-align: center;
        color: #05061e;
        font-family: Courier New, monospace, Arial, sans-serif;
        font: size 12px;
        margin: 5px;
    }
    
    #content {
        max-width: 1600px;
        margin: 0 auto;
    }
    
    header {
        display: grid;
        padding: 1em;
        grid-template-columns: 150px auto;
    }
    
    #feedback {
        background-color: antiquewhite;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: .5px;
        /* make this element invisible until we are ready for it */
        display: none;
    }
    
    .moveDown {
        margin-top: 3em;
    }
    
    .home-title {
        font-family: 'Rock Salt', 'Roboto', 'Bradley', sans-serif;
        font-size: 2.5em;
        margin-top: 200px;
        color: #8d541b;
    }
    
    #hero {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        margin-top: -100px;
    }
    
    form {
        /* Center the form on the page */
        margin: 0 auto;
        width: 300px;
        /* Form outline */
        padding: 1em;
        border: 4px solid #05061e;
        border-radius: 1em;
    }
    
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    form li+li {
        margin-top: 1em;
    }
    
    label {
        /* Uniform size & alignment */
        display: inline-block;
        width: 90px;
        text-align: right;
    }
    
    input,
    textarea {
        /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
        font: 1em sans-serif;
        /* Uniform text field size */
        width: 300px;
        box-sizing: border-box;
        /* Match form field borders */
        border: 1px solid #999;
    }
    
    input:focus,
    textarea:focus {
        /* Additional highlight for focused elements */
        border-color: #000;
    }
    
    textarea {
        /* Align multiline text fields with their labels */
        vertical-align: top;
        /* Provide space to type some text */
        height: 5em;
    }
    
    .button {
        /* Align buttons with the text fields */
        padding-left: 90px;
        /* same size as the label elements */
    }
    
    button {
        /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
        margin-left: .5em;
    }
    
    .hero-btn {
        display: inline-block;
        text-decoration: none;
        color: rgb(252, 197, 18);
        border: 2px solid rgb(6, 3, 16);
        padding: 12px 34px;
        background: transparent;
        position: relative;
        cursor: pointer;
    }
    
    .hero-btn:hover {
        border: 1px solid rgb(6, 3, 16);
        background: rgb(252, 197, 18);
        transition: 1s ease;
    }
    
    .home-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        text-decoration: none;
        color: rgb(6, 3, 16);
        border: 2px solid rgb(6, 3, 16);
        padding: 12px 34px;
        background: transparent;
        cursor: pointer;
    }
    
    .home-btn:hover {
        border: 1px solid rgb(6, 3, 16);
        background: rgb(252, 197, 18);
        transition: 1s ease;
    }
    
    #hero-msg h4 {
        color: #f7f4f0;
    }
    
    #hero-msg {
        grid-column: 1/4;
        grid-row: 1/3;
        margin-top: 100px;
    }
    
    #hero-box {
        grid-column: 1/4;
        grid-row: 2/4;
        z-index: -1;
    }
    
    .home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr, 1fr;
    }
    
    .rivers-card {
        grid-column: 1/3;
        grid-row: 1/3;
        margin: 200px 0;
    }
    
    .camping-card {
        grid-column: 4/6;
        grid-row: 1/3;
        margin: 1px 2px;
    }
    
    .rapids-card {
        grid-column: 7/9;
        grid-row: 1/3;
        margin: 1px 0;
    }
    
    .home-grid2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr, 1fr;
    }
    
    .rocki-card {
        grid-column: 1/3;
        grid-row: 4/5;
        margin: 1px 0;
    }
    
    .married-card {
        grid-column: 4/6;
        grid-row: 3/5;
        margin: 1px 0;
    }
    
    .palmvakk-card {
        grid-column: 7/9;
        grid-row: 3/5;
        margin: 1px 0;
    }
    
    .mountains {
        width: 100;
        grid-column: 2/7;
        grid-row: 5/8;
        box-shadow: 5px 5px 10px #8d541b;
    }
    
    .card-img,
    .mountains {
        width: 100%;
    }
    
    .logo {
        width: 50%;
        overflow: hidden;
        text-align: center;
    }
    
    #logo_link {
        padding-top: 5px;
        align-self: center;
        justify-self: center;
    }
    
    nav a :hover {
        background-color: #ea9e67;
    }
    
    .msg {
        background-color: #8d541b;
        line-height: 1.5em;
        text-align: center;
        padding: 35px;
        grid-column: 6/10;
        grid-row: 6/7;
        box-shadow: 5px 5px 10px #f1ceab;
        color: rgb(246, 240, 232);
    }
    
    .msg p {
        padding-bottom: 5px;
        font-size: .8em;
    }
    
    .card-img {
        text-align: center;
        border: 5px solid #05061e;
        transition: transform .5s;
        box-shadow: 5px 5px 10px#0f1392;
    }
    
    .card-img:hover {
        opacity: .6;
        transform: scale(1.1)
    }
    
    main section img {
        box-sizing: border-box;
    }
    
    main {
        text-align: center;
        width: 100%;
        overflow: hidden;
    }
    
    .icon {
        width: 60px;
        padding-top: 5px;
        font-size: 12px;
    }
    
    nav {
        display: flex;
        justify-content: space-around;
    }
    
    #background {
        display: grid;
        height: 725px;
        background-color: #f6cfa8;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr, 1fr;
    }
    
    nav a {
        text-align: center;
        color: #05061e;
        text-decoration: none;
        padding: 2px;
        font-size: 12px;
    }
    
    .married-card,
    .rocki-card,
    .palmvakk-card,
    .rivers-card,
    .camping-card,
    .rapids-card {
        margin: 2px;
        font-size: 12px;
    }
    
    .book,
    .join {
        background-color: #e09b41;
        color: rgb(247, 246, 246);
        text-decoration: none;
        padding: 6px, 12px;
        margin-top: 100px;
        font-size: 13px;
        border-radius: 3px;
    }
    
    footer {
        margin-top: 3px;
        background-color: #05061e;
        padding: 5px 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #ffffff;
        font-size: 12px;
    }
    
    footer h3 {
        color: #ffffff;
    }
    
    footer a {
        color: #05061e;
    }
    
    footer a:hover {
        color: rgb(98, 200, 213);
    }
    
    h2 {
        margin: 0;
        color: #05061e;
    }
    
    h3 {
        color: #05061e;
    }
    
    .social img {
        height: 35px;
        margin: 10px;
        cursor: pointer;
        padding-top: 15px;
    }
    
    .social {
        text-align: center;
    }
    
    @media screen and (max-width: 750px) {
        #hero,
        .home-grid2,
        .home-grid {
            display: block;
            height: auto;
        }
        nav,
        footer {
            flex-direction: column;
        }
        nav a {
            display: block;
            padding: 5px;
        }
        #hero {
            margin-top: 0;
        }
        #hero-msg {
            margin-top: 0;
        }
        #hero-msg h4 {
            display: none;
        }
        .home-title {
            font-size: 25px;
            color: #9f520eea;
        }
        .married-card,
        .rocki-card,
        .palmvakk-card,
        .rivers-card,
        .camping-card,
        .rapids-card {
            margin: 5px auto;
            max-width: 400px;
        }
        #background {
            display: none;
        }
        .mountains,
        .msg {
            width: 80%;
            display: block;
            margin: 0 auto;
        }
        footer {
            margin-top: 5px;
        }
    }